* {
    box-sizing: border-box;
}

body {
    cursor: default; /* Hide the default cursor */
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("img.jpg");
}

.custom-cursor {
    position: absolute;
    width: 30px; /* Size of the lightning bolt */
    height: 30px;
    background-size: cover; /* Ensure the lightning image fits */
    opacity: 1; /* Fully visible */
    pointer-events: none; /* Ensure the cursor doesn't interfere with clicks */
    transition: transform 0.1s ease, opacity 0.2s ease;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    color:lightgoldenrodyellow;
    padding: 20px;
    text-align: center;
    background: #027afa;
    background-color: rgba(0, 123, 255, 0.57);
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover,
nav ul li a:focus {
    color: #ffdd57;
    outline: 2.5px solid #ffdd57;
    outline-style:ridge;
    border-radius: 2%;
}

main {
    padding: 20px;
}

section {
    margin: 20px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(210, 135, 135, 80);
    background-color: rgba(215, 231, 233, 0.5);
}

.project-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project {
    flex: 1;
    margin: 10px;
    padding: 15px;
    border: 2px solid #ddd;
    border-radius: 10px;
}
.skills-list {
    list-style-type: none;
    padding: 0;
}

.skills-list li {
    background-color: rgba(215, 231, 233, 0.5);
    color:black;
    padding: 5px 10px;
    margin: 5px 0;
    border-radius: 3px;
}
@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0); /* Move to original position */
    }
}

footer {
    text-align: center;
    padding: 20px 0;
    background:#027afa;
    color:white;
    background-color: rgba(0, 123, 255, 0.57);
}

.socials a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s;
}

.socials a:hover,
.socials a:focus {
    color: #ffdd57;
}

@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .project {
        flex: 1 1 100%; /* Full width on small screens */
    }
}
